# Backend
backend/target/
backend/.mvn/
backend/*.iml
backend/.idea/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
